<h1>New RealEstateApplication Enquiry</h1>

<p>Hi, <%= @to_email %>,</p>
<p>You have received a new enquiry from <%= @from_email %>:</p>

<p>"<%= @message %>"</p>

<p>Yours sincerely,</p>

<p>The RealEstateApplication Team</p>
