<h1>Payment Confirmation</h1>

<p>Hi, <%= @from_email %></p>

<h1>Thankyou for signing up to RealEstateApplication.</h1>
<p>This is to confirm your payment of $5.00 for lifetime access to RealEstateApplication.</p>

<p>Yours sincerely,</p>

<p>The RealEstateApplication Team</p>
